force-app/main/default/flows/xDO_Demo_Helper_Update_Lightning_Experience_Branding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Branding_Set_Property</name>
        <label>Add Branding Set Property</label>
        <locationX>1452</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>brandingSetProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>brandingSetProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Branding_Set_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Banner_Image</name>
        <label>Set Banner Image</label>
        <locationX>1056</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>brandingSetProperty.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Branding_Set_Property.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brandingSetProperty.PropertyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBannerImageURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Branding_Set_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Brand_Color</name>
        <label>Set Brand Color</label>
        <locationX>264</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>brandingSetProperty.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Branding_Set_Property.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brandingSetProperty.PropertyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBrandColorHEX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Branding_Set_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Brand_Image</name>
        <label>Set Brand Image</label>
        <locationX>792</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>brandingSetProperty.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Branding_Set_Property.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brandingSetProperty.PropertyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLogoImageURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Branding_Set_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_Banner_Image</name>
        <label>Set Group Banner Image</label>
        <locationX>1320</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>brandingSetProperty.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Branding_Set_Property.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brandingSetProperty.PropertyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBannerImageURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Branding_Set_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_Image</name>
        <label>Set Group Image</label>
        <locationX>1584</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>brandingSetProperty.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Branding_Set_Property.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brandingSetProperty.PropertyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGroupImageURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Branding_Set_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Header_Background_Color</name>
        <label>Set Header Background Color</label>
        <locationX>528</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>brandingSetProperty.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Branding_Set_Property.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brandingSetProperty.PropertyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHeaderColorHEX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Branding_Set_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Override_Loading_Page</name>
        <label>Set Override Loading Page</label>
        <locationX>2376</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>brandingSetProperty.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Branding_Set_Property.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brandingSetProperty.PropertyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varLoadingOverride</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Branding_Set_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Profile_Banner_Image</name>
        <label>Set Profile Banner Image</label>
        <locationX>1848</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>brandingSetProperty.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Branding_Set_Property.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brandingSetProperty.PropertyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varBannerImageURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Branding_Set_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Image</name>
        <label>Set User Image</label>
        <locationX>2112</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>brandingSetProperty.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Branding_Set_Property.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>brandingSetProperty.PropertyValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUserImageURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Branding_Set_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variables_from_EDU_Demo_Helper</name>
        <label>Set Variables from EDU Demo Helper</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varBrandColorHEX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Demo_Configuration.xDO_Primary_Color_HEX_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLogoImageURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Demo_Configuration.xDO_Logo_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varBannerImageURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Demo_Configuration.xDO_Brand_Image_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupImageURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Demo_Configuration.xDO_Group_Image_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserImageURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Demo_Configuration.xDO_User_Image_URL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Branding_Set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Property_Type</name>
        <label>If Property Name</label>
        <locationX>1452</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>For_Each_Branding_Set_Property</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Brand_Color</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Branding_Set_Property.PropertyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRAND_COLOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Brand_Color</targetReference>
            </connector>
            <label>Brand Color</label>
        </rules>
        <rules>
            <name>Header_Background_Color</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Branding_Set_Property.PropertyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HEADER_BACKGROUND_COLOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Header_Background_Color</targetReference>
            </connector>
            <label>Header Background Color</label>
        </rules>
        <rules>
            <name>Brand_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Branding_Set_Property.PropertyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BRAND_IMAGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Brand_Image</targetReference>
            </connector>
            <label>Brand Image</label>
        </rules>
        <rules>
            <name>Banner_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Branding_Set_Property.PropertyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BANNER_IMAGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Banner_Image</targetReference>
            </connector>
            <label>Banner Image</label>
        </rules>
        <rules>
            <name>Groups_Banner_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Branding_Set_Property.PropertyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GROUPS_BANNER_IMAGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_Banner_Image</targetReference>
            </connector>
            <label>Groups Banner Image</label>
        </rules>
        <rules>
            <name>Group_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Branding_Set_Property.PropertyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GROUP_IMAGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_Image</targetReference>
            </connector>
            <label>Group Image</label>
        </rules>
        <rules>
            <name>Profile_Banner_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Branding_Set_Property.PropertyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROFILE_BANNER_IMAGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Profile_Banner_Image</targetReference>
            </connector>
            <label>Profile Banner Image</label>
        </rules>
        <rules>
            <name>User_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Branding_Set_Property.PropertyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USER_IMAGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Image</targetReference>
            </connector>
            <label>User Image</label>
        </rules>
        <rules>
            <name>Override_Loading_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Branding_Set_Property.PropertyName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OVERRIDE_LOADING_PAGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Override_Loading_Page</targetReference>
            </connector>
            <label>Override Loading Page</label>
        </rules>
    </decisions>
    <description>DemoTiger flow to update the branding of the CRM org.

Updates:
*Updated name of LEX Theme</description>
    <environments>Default</environments>
    <interviewLabel>xDO | Demo Helper | Update Lightning Experience Branding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>xDO | Demo Helper | Update Lightning Experience Branding</label>
    <loops>
        <name>For_Each_Branding_Set_Property</name>
        <label>For Each Branding Set Property</label>
        <locationX>176</locationX>
        <locationY>602</locationY>
        <collectionReference>Get_Branding_Set_Properties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Property_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Branding_Set_Properties</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Demo_Configuration</name>
        <label>Get Active Demo Configuration</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Variables_from_EDU_Demo_Helper</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.xDO_New_Demo_Config_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>xDO_Demo_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Branding_Set</name>
        <label>Get Branding Set</label>
        <locationX>176</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Branding_Set_Properties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LEXTHEMINGXDO_DemoTigerTheme</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BrandingSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Branding_Set_Properties</name>
        <label>Get Branding Set Properties</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Branding_Set_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BrandingSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Branding_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BrandingSetProperty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Branding_Set_Properties</name>
        <label>Update Branding Set Properties</label>
        <locationX>176</locationX>
        <locationY>1202</locationY>
        <inputReference>brandingSetProperties</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Demo_Configuration</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>xDO_Demo_Helper__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>brandingSetProperties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BrandingSetProperty</objectType>
    </variables>
    <variables>
        <name>brandingSetProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BrandingSetProperty</objectType>
    </variables>
    <variables>
        <name>varBannerImageURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBrandColorHEX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#0176D3</stringValue>
        </value>
    </variables>
    <variables>
        <name>varGroupImageURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHeaderColorHEX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#FFFFFF</stringValue>
        </value>
    </variables>
    <variables>
        <name>varLoadingOverride</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLogoImageURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserImageURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
