force-app/main/default/flows/xDO_Demo_Configuration_After_Create_or_Update_Set_Active.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Demo_Configuration_Inactive</name>
        <label>Set Demo Configuration Inactive</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Demo_Configuration.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfigurations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recDemoConfiguration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Demo_Configurations_Inactive</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Active_Demo_Configuration</name>
        <label>If Active Demo Configuration</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_Demo_Helper</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Demo_Configuration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Demo_Configuration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Demo_Configuration_Inactive</targetReference>
            </connector>
            <label>Active Demo Configuration</label>
        </rules>
    </decisions>
    <description>DemoTiger flow to set all other Demo Configuration records to inactive once one is set to active.</description>
    <environments>Default</environments>
    <interviewLabel>xDO | Demo Configuration | After Create or Update | Set Active {!$Flow.CurrentDateTime}</interviewLabel>
    <label>xDO | Demo Configuration | After Create or Update | Set Active</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Demo_Helper</name>
        <label>Create Demo Helper</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Demo Config Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Demo_Config_Id__c</field>
            <value>
                <elementReference>Get_Active_Demo_Configuration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>xDO_New_Demo_Config_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>xDO_Demo_Helper__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Demo_Configuration</name>
        <label>Get Active Demo Configuration</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Active_Demo_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>xDO_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>xDO_Demo_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Demo_Configurations_Inactive</name>
        <label>Update Demo Configurations Inactive</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_Demo_Helper</targetReference>
        </connector>
        <inputReference>recDemoConfigurations</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Demo_Configuration</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>xDO_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>xDO_Demo_Configuration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recDemoConfiguration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>xDO_Demo_Configuration__c</objectType>
    </variables>
    <variables>
        <name>recDemoConfigurations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>xDO_Demo_Configuration__c</objectType>
    </variables>
</Flow>
