force-app/main/default/flows/xDO_UX_Demo_Kickstarter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Demo_Configuration_Colors</name>
        <label>Generate Demo Configuration Colors</label>
        <locationX>402</locationX>
        <locationY>2162</locationY>
        <actionName>xDO_Generate_Demo_Configuration_Colors</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_JSON_Data_to_Demo_Configuration</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Logo</name>
            <value>
                <elementReference>Get_Logo_Content_Document</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:CompanyName</name>
            <value>
                <elementReference>varCompanyName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>xDO_Generate_Demo_Configuration_Colors</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Parse_JSON_Data_to_Demo_Configuration</name>
        <label>Parse JSON Data to Demo Configuration</label>
        <locationX>402</locationX>
        <locationY>2270</locationY>
        <actionName>XDO_GenericJSONParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_Brand_Image</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__output</typeName>
            <typeValue>xDO_Demo_Configuration__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>Generate_Demo_Configuration_Colors.promptResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectType</name>
            <value>
                <stringValue>xDO_Demo_Configuration__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>XDO_GenericJSONParser</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recDemoConfiguration</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Active_Custom_Demo_Stages</name>
        <label>Set Active Custom Demo Stages</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Band_Images_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Brand_Colors_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Images_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_New_Demo_Configuration_Stages</name>
        <label>Set Active New Demo Configuration Stages</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Demo_Type_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_Review_Stages</name>
        <label>Set Active Review Stages</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Review_Branding_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Branding_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Active_Set_Up_Stages</name>
        <label>Set Active Set Up Stages</label>
        <locationX>1194</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Set_Up_DemoTiger_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Band_Images_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Brand_Colors_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirmation_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Up_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Brand_Colors</name>
        <label>Set Brand Colors</label>
        <locationX>534</locationX>
        <locationY>5342</locationY>
        <assignmentItems>
            <assignToReference>varPrimaryColorHEX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Color.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSecondaryColorHEX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Color.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccentColor1Hex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accent_Color_1.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccentColor2Hex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accent_Color_2.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccentColor3Hex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accent_Color_3.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccentColor4Hex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accent_Color_4.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Demo_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Brand_Image</name>
        <label>Set Brand Image</label>
        <locationX>402</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>varBrandImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Image_Content_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Company_Information</name>
        <label>Set Company Information</label>
        <locationX>292</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varCompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Demo_User.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Demo_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Company_Information</name>
        <label>Set Default Company Information</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varCompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Company_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>default</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDemoUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Demo_User.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Images_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Demo_Configuration</name>
        <label>Set Default Demo Configuration</label>
        <locationX>666</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Accent_Color_1_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>#5FA8FF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Accent_Color_2_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>#6B7CFF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Accent_Color_3_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>#2ED3C6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Accent_Color_4_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>#FFB703</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Primary_Color_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>#066AFE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Secondary_Color_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>#0B1F3B</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Brand_Image</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Demo_Configuration</name>
        <label>Set Demo Configuration</label>
        <locationX>534</locationX>
        <locationY>5450</locationY>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCompanyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Primary_Color_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPrimaryColorHEX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Secondary_Color_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSecondaryColorHEX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Accent_Color_1_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccentColor1Hex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Accent_Color_2_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccentColor2Hex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Accent_Color_3_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccentColor3Hex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Accent_Color_4_HEX_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccentColor4Hex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Logo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formLogoAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Brand_Image__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formBrandImageAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Group_Image__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formGroupImageAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_User_Image__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formUserImageAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Logo_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formLogoAssetURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Brand_Image_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formBrandImageAssetURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Group_Image_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formGroupImageAssetURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_User_Image_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formUserImageAssetURL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Default_Demo_Configuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>default</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Demo_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDemoUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Demo_Build_Permission_Set__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formPermissionSetName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Demo_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Demo_Configuration_Active</name>
        <label>Set Demo Configuration Active</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>recDemoConfiguration.xDO_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Demo_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_Image</name>
        <label>Set Group Image</label>
        <locationX>402</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>varGroupImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Group_Image_Content_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_Image_Content_Asset</name>
        <label>Set Group Image Content Asset</label>
        <locationX>490</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>recContentAsset3.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Group_Image_Content_Document_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset3.MasterLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formGroupImageAssetLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset3.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formGroupImageAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset3.IsVisibleByExternalUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Group_Image_Content_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Image_Content_Asset</name>
        <label>Set Image Content Asset</label>
        <locationX>490</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>recContentAsset2.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Image_Content_Document_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset2.MasterLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formBrandImageAssetLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset2.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formBrandImageAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset2.IsVisibleByExternalUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Image_Content_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Logo</name>
        <label>Set Logo</label>
        <locationX>402</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varLogo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Logo_Content_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Logo_Content_Asset</name>
        <label>Set Logo Content Asset</label>
        <locationX>490</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>recContentAsset1.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Logo_Content_Document_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset1.MasterLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formLogoAssetLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset1.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formLogoAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset1.IsVisibleByExternalUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Logo_Content_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Image</name>
        <label>Set User Image</label>
        <locationX>402</locationX>
        <locationY>4418</locationY>
        <assignmentItems>
            <assignToReference>varUserImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_User_Image_Content_Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_User_Image_Content_Asset</name>
        <label>Set User Image Content Asset</label>
        <locationX>490</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>recContentAsset4.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_User_Image_Content_Document_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset4.MasterLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formUserImageAssetLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset4.DeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formUserImageAssetName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentAsset4.IsVisibleByExternalUsers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_User_Image_Content_Document_Id</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Custom_Demo_Choice</name>
        <choiceText>Custom Demo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom Demo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Default_Demo_Choice</name>
        <choiceText>Default Demo ({!Get_Default_Demo_Configuration.Name})</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Default Demo</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;footer&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>If_Brand_Image</name>
        <label>If Brand Image</label>
        <locationX>534</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>If_Group_Image</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Brand_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Brand_Image_Upload.contentDocIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Brand_Image</targetReference>
            </connector>
            <label>Brand Image</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Default_Demo_Configuration</name>
        <label>If Default Demo Configuration</label>
        <locationX>902</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Set_Active_Set_Up_Stages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Up Required</defaultConnectorLabel>
        <rules>
            <name>Default_Demo_Configuration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Default_Demo_Configuration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_New_Demo_Configuration_Stages</targetReference>
            </connector>
            <label>Default Demo Configuration</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Demo_Configuration</name>
        <label>If Demo Configuration</label>
        <locationX>292</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_Active_Custom_Demo_Stages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Demo_Configuration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recDemoConfiguration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Active_Review_Stages</targetReference>
            </connector>
            <label>Demo Configuration</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Demo_Type</name>
        <label>If Demo Type</label>
        <locationX>611</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Activate_Default_Demo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Demo</defaultConnectorLabel>
        <rules>
            <name>Custom_Demo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Demo_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Custom_Demo_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Company_Information</targetReference>
            </connector>
            <label>Custom Demo</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Group_Image</name>
        <label>If Group Image</label>
        <locationX>534</locationX>
        <locationY>3386</locationY>
        <defaultConnector>
            <targetReference>If_User_Image</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Group_Image_Upload.contentDocIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_Image</targetReference>
            </connector>
            <label>Group Image</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Logo</name>
        <label>If Logo</label>
        <locationX>534</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Set_Default_Demo_Configuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Logo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Logo_Upload.contentDocIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Logo</targetReference>
            </connector>
            <label>Logo</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_User_Image</name>
        <label>If User Image</label>
        <locationX>534</locationX>
        <locationY>4310</locationY>
        <defaultConnector>
            <targetReference>Colors_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Image_Upload.contentDocIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_User_Image</targetReference>
            </connector>
            <label>User Image</label>
        </rules>
    </decisions>
    <description>DemoTiger user experience flow to kickstart demos by creating Demo Configurations. 

Updates:
* Unuthenticated user access bug</description>
    <environments>Default</environments>
    <formulas>
        <name>formBrandImageAssetLabel</name>
        <dataType>String</dataType>
        <expression>{!varCompanyName} + &quot; Brand Image&quot;</expression>
    </formulas>
    <formulas>
        <name>formBrandImageAssetName</name>
        <dataType>String</dataType>
        <expression>IF({!varBrandImage},SUBSTITUTE({!varCompanyName}, &quot; &quot;, &quot;_&quot;) + &quot;_Brand_Image&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>formBrandImageAssetURL</name>
        <dataType>String</dataType>
        <expression>IF({!varBrandImage},&quot;/file-asset/&quot; + {!formBrandImageAssetName} + &quot;?v=1&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>formGroupImageAssetLabel</name>
        <dataType>String</dataType>
        <expression>{!varCompanyName} + &quot; Group Image&quot;</expression>
    </formulas>
    <formulas>
        <name>formGroupImageAssetName</name>
        <dataType>String</dataType>
        <expression>IF({!varGroupImage},SUBSTITUTE({!varCompanyName}, &quot; &quot;, &quot;_&quot;) + &quot;_Group_Image&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>formGroupImageAssetURL</name>
        <dataType>String</dataType>
        <expression>IF({!varGroupImage},&quot;/file-asset/&quot; + {!formGroupImageAssetName} + &quot;?v=1&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>formLogoAssetLabel</name>
        <dataType>String</dataType>
        <expression>{!varCompanyName} + &quot; Logo&quot;</expression>
    </formulas>
    <formulas>
        <name>formLogoAssetName</name>
        <dataType>String</dataType>
        <expression>IF({!varLogo},SUBSTITUTE({!varCompanyName}, &quot; &quot;, &quot;_&quot;) + &quot;_Logo&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>formLogoAssetURL</name>
        <dataType>String</dataType>
        <expression>IF({!varLogo},&quot;/file-asset/&quot; + {!formLogoAssetName} + &quot;?v=1&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>formPermissionSetName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varCompanyName}, &quot; &quot;, &quot;_&quot;) + &quot;_Demo_Access&quot;</expression>
    </formulas>
    <formulas>
        <name>formUniqueName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varCompanyName}, &quot; &quot;, &quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <name>formUserImageAssetLabel</name>
        <dataType>String</dataType>
        <expression>{!varCompanyName} + &quot; User Image&quot;</expression>
    </formulas>
    <formulas>
        <name>formUserImageAssetName</name>
        <dataType>String</dataType>
        <expression>IF({!varUserImage},SUBSTITUTE({!varCompanyName}, &quot; &quot;, &quot;_&quot;) + &quot;_User_Image&quot;,null)</expression>
    </formulas>
    <formulas>
        <name>formUserImageAssetURL</name>
        <dataType>String</dataType>
        <expression>IF({!varUserImage},&quot;/file-asset/&quot; + {!formUserImageAssetName} + &quot;?v=1&quot;,null)</expression>
    </formulas>
    <interviewLabel>xDO | UX | Demo Kickstarter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>xDO | UX | Demo Kickstarter</label>
    <loops>
        <name>For_Each_Group_Image_Content_Document_Id</name>
        <label>For Each Group Image Content Document Id</label>
        <locationX>402</locationX>
        <locationY>3602</locationY>
        <collectionReference>Group_Image_Upload.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Group_Image_Content_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Group_Image_Asset_File</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Image_Content_Document_Id</name>
        <label>For Each Image Content Document Id</label>
        <locationX>402</locationX>
        <locationY>2678</locationY>
        <collectionReference>Brand_Image_Upload.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Image_Content_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Image_Asset_File</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Logo_Content_Document_Id</name>
        <label>For Each Logo Content Document Id</label>
        <locationX>402</locationX>
        <locationY>1538</locationY>
        <collectionReference>Logo_Upload.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Logo_Content_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Logo_Asset_File</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_User_Image_Content_Document_Id</name>
        <label>For Each User Image Content Document Id</label>
        <locationX>402</locationX>
        <locationY>4526</locationY>
        <collectionReference>User_Image_Upload.contentDocIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_User_Image_Content_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_User_Image_Asset_File</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Demo_Configuration</name>
        <label>Create Demo Configuration</label>
        <locationX>292</locationX>
        <locationY>5642</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>recDemoConfiguration</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Group_Image_Asset_File</name>
        <label>Create Group Image Asset File</label>
        <locationX>402</locationX>
        <locationY>3902</locationY>
        <connector>
            <targetReference>Get_Group_Image_Asset_File</targetReference>
        </connector>
        <inputReference>recContentAsset3</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Image_Asset_File</name>
        <label>Create Image Asset File</label>
        <locationX>402</locationX>
        <locationY>2978</locationY>
        <connector>
            <targetReference>Get_Image_Asset_File</targetReference>
        </connector>
        <inputReference>recContentAsset2</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Logo_Asset_File</name>
        <label>Create Logo Asset File</label>
        <locationX>402</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Get_Logo_Asset_File</targetReference>
        </connector>
        <inputReference>recContentAsset1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_User_Image_Asset_File</name>
        <label>Create User Image Asset File</label>
        <locationX>402</locationX>
        <locationY>4826</locationY>
        <connector>
            <targetReference>Get_User_Image_Asset_File</targetReference>
        </connector>
        <inputReference>recContentAsset4</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Default_Demo_Configuration</name>
        <label>Get Default Demo Configuration</label>
        <locationX>902</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Default_Demo_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>xDO_Default_Demo_Configuration__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>xDO_Demo_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Demo_Configuration</name>
        <label>Get Demo Configuration</label>
        <locationX>292</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Demo_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>xDO_Unique_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formUniqueName</elementReference>
            </value>
        </filters>
        <object>xDO_Demo_Configuration__c</object>
        <outputReference>recDemoConfiguration</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>xDO_Primary_Color_HEX_Code__c</queriedFields>
        <queriedFields>xDO_Secondary_Color_HEX_Code__c</queriedFields>
        <queriedFields>xDO_Accent_Color_1_HEX_Code__c</queriedFields>
        <queriedFields>xDO_Accent_Color_2_HEX_Code__c</queriedFields>
        <queriedFields>xDO_Accent_Color_3_HEX_Code__c</queriedFields>
        <queriedFields>xDO_Accent_Color_4_HEX_Code__c</queriedFields>
        <queriedFields>xDO_Logo_URL__c</queriedFields>
        <queriedFields>xDO_Brand_Image_URL__c</queriedFields>
        <queriedFields>xDO_Group_Image_URL__c</queriedFields>
        <queriedFields>xDO_User_Image_URL__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Image_Asset_File</name>
        <label>Get Group Image Asset File</label>
        <locationX>402</locationX>
        <locationY>4010</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Group_Image_Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formGroupImageAssetName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Image_Asset_File</name>
        <label>Get Image Asset File</label>
        <locationX>402</locationX>
        <locationY>3086</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Image_Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formBrandImageAssetName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logo_Asset_File</name>
        <label>Get Logo Asset File</label>
        <locationX>402</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Logo_Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formLogoAssetName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logo_Content_Document</name>
        <label>Get Logo Content Document</label>
        <locationX>402</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Logo_Content_Document_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Logo_Upload.contentDocIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Image_Asset_File</name>
        <label>Get User Image Asset File</label>
        <locationX>402</locationX>
        <locationY>4934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_User_Image_Content_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formUserImageAssetName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentAsset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Default_Demo</name>
        <label>Activate Default Demo</label>
        <locationX>930</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Default_Demo_Activated_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Default_Demo_Configuration.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>xDO_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>xDO_Demo_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Group_Image_Content_Document</name>
        <label>Update Group Image Content Document</label>
        <locationX>402</locationX>
        <locationY>4118</locationY>
        <connector>
            <targetReference>If_User_Image</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Group_Image_Upload.contentDocIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContentAssetId</field>
            <value>
                <elementReference>Get_Group_Image_Asset_File.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Image_Content_Document</name>
        <label>Update Image Content Document</label>
        <locationX>402</locationX>
        <locationY>3194</locationY>
        <connector>
            <targetReference>If_Group_Image</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Brand_Image_Upload.contentDocIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContentAssetId</field>
            <value>
                <elementReference>Get_Image_Asset_File.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Logo_Content_Document</name>
        <label>Update Logo Content Document</label>
        <locationX>402</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Generate_Demo_Configuration_Colors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Logo_Upload.contentDocIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContentAssetId</field>
            <value>
                <elementReference>Get_Logo_Asset_File.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Image_Content_Document</name>
        <label>Update User Image Content Document</label>
        <locationX>402</locationX>
        <locationY>5042</locationY>
        <connector>
            <targetReference>Colors_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>User_Image_Upload.contentDocIds</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContentAssetId</field>
            <value>
                <elementReference>Get_User_Image_Asset_File.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <screens>
        <name>Colors_Screen</name>
        <label>Colors Screen</label>
        <locationX>534</locationX>
        <locationY>5234</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Brand_Colors</targetReference>
        </connector>
        <fields>
            <name>Color_Title</name>
            <fieldText>&lt;h2&gt;Demo Kickstarter | Brand Colors&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Colors_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Colors_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Color</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Color</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Primary_Color_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Accent_Color_1</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accent Color 1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Accent_Color_1_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Accent_Color_3</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accent Color 3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Accent_Color_3_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Colors_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Secondary_Color</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Secondary Color</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Secondary_Color_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Accent_Color_2</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accent Color 2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Accent_Color_2_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Accent_Color_4</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accent Color 4</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Accent_Color_4_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;Help me!&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Brand_Colors_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>292</locationX>
        <locationY>5750</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Title</name>
            <fieldText>&lt;h2&gt;Your Demo Has Been Kickstarted!&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Confirmation_Text</name>
                    <fieldText>&lt;p&gt;Great. We&apos;ve started to set up your &lt;strong&gt;{!varCompanyName} &lt;/strong&gt;demo. You&apos;ll receive notification when all of the steps of setting up have completed.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Confirmation_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Default_Demo_Activated_Screen</name>
        <label>Default Demo Activated Screen</label>
        <locationX>930</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Default_Activated_Title</name>
            <fieldText>&lt;h2&gt;Default Demo Activated&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Default_Activated_Text</name>
            <fieldText>&lt;p&gt;Your default demo configuration &lt;strong&gt;{!Get_Default_Demo_Configuration.Name}&lt;/strong&gt; has been activated. The org branding will be updated shortly.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Confirmation_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Demo_Type_Screen</name>
        <label>Demo Type Screen</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>If_Demo_Type</targetReference>
        </connector>
        <fields>
            <name>Demo_Type_Title</name>
            <fieldText>&lt;h2&gt;Demo Kickstarter&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Demo_Type_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Demo_Type_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Demo_Type</name>
                    <choiceReferences>Custom_Demo_Choice</choiceReferences>
                    <choiceReferences>Default_Demo_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What Demo Type are you looking to set up?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Demo_Type_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Demo_Type_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Demo_User</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>xDO_Demo_User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Demo User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>xDO_Demo_Configuration__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Demo_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Custom_Demo_Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Demo_Type_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Existing_Branding_Screen</name>
        <label>Existing Branding Screen</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Demo_Configuration_Active</targetReference>
        </connector>
        <fields>
            <name>Existing_Branding_Title</name>
            <fieldText>&lt;h2&gt;Demo Kickstarter | Branding&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Existing_Branding_Subtitle</name>
            <fieldText>&lt;p&gt;Great news! This Demo Configuration already exists in your org. Here is what we&apos;re going to turn on for you.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Existing_Branding_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Branding_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existing_Logo_Title</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Logo&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Existing_Logo_Display</name>
                    <fieldText>&lt;p&gt;{!logoDisplay}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recDemoConfiguration.xDO_Logo_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Branding_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existing_Brand_Image_Title</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Brand Image&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Existing_Brand_Image_Display</name>
                    <fieldText>&lt;p&gt;{!brandImageDisplay}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recDemoConfiguration.xDO_Brand_Image_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Branding_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existing_Group_Image_Title</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Group Image&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Existing_Group_Image_Display</name>
                    <fieldText>&lt;p&gt;{!groupImageDisplay}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recDemoConfiguration.xDO_Group_Image_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Branding_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existing_User_Image_Title</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;User Image&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Existing_User_Image_Display</name>
                    <fieldText>&lt;p&gt;{!userImageDisplay}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recDemoConfiguration.xDO_User_Image_URL__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Existing_Branding_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Branding_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existing_Primary_Color</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Color</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Primary_Color_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Existing_Accent_Color_1</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accent Color 1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Accent_Color_1_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Existing_Accent_Color_3</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accent Color 3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Accent_Color_3_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Existing_Branding_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existing_Secondary_Color</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Secondary Color</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Secondary_Color_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Existing_Accent_Color_2</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accent Color 2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Accent_Color_2_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Existing_Accent_Color_4</name>
                    <extensionName>c:flowColorPicker</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accent Color 4</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>recDemoConfiguration.xDO_Accent_Color_4_HEX_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readOnly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;Help me!&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Review_Branding_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Images_Screen</name>
        <label>Images Screen</label>
        <locationX>534</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>If_Logo</targetReference>
        </connector>
        <fields>
            <name>Branding_Title</name>
            <fieldText>&lt;h2&gt;Demo Kickstarter | Branding&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Images_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Images_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Logo_Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Logo (Optional)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.png</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Logo_Success_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(46, 132, 74);&quot;&gt;File Uploaded Successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Logo_Upload.contentDocIds</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Brand_Image_Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Brand Image (Optional)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Brand_Image_Success_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(46, 132, 74); background-color: rgb(255, 255, 255);&quot;&gt;File Uploaded Successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Brand_Image_Upload.contentVersionIds</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Group_Image_Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Group Image (Optional)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Group_Image_Success_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(46, 132, 74); background-color: rgb(255, 255, 255);&quot;&gt;File Uploaded Successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Group_Image_Upload.contentDocIds</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>User_Image_Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>User Image (Optional)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>User_Image_Success_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(46, 132, 74); background-color: rgb(255, 255, 255);&quot;&gt;File Uploaded Successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>User_Image_Upload.contentDocIds</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;Help me!&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Band_Images_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Set_Up_Screen</name>
        <label>Set Up Screen</label>
        <locationX>1194</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Default_Company_Information</targetReference>
        </connector>
        <fields>
            <name>Set_Up_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Up_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Set_Up_Screen_Text</name>
                    <fieldText>&lt;h2&gt;Welcome to DemoTiger Setup&lt;/h2&gt;&lt;p&gt;Before you can start using DemoTiger, a few quick setup steps are required to make sure everything looks and functions the way it should. Please review the &lt;a href=&quot;/lightning/n/DemoTiger_Setup&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;DemoTiger Setup&lt;/a&gt; steps.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Default_Company_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Default Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Default_Demo_User</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>xDO_Demo_User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Default Demo User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>xDO_Demo_Configuration__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Set_Up_DemoTiger_Stage</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>Band_Images_Stage</name>
        <isActive>false</isActive>
        <label>Brand Images</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Brand_Colors_Stage</name>
        <isActive>false</isActive>
        <label>Brand Colors</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>Confirmation_Stage</name>
        <isActive>false</isActive>
        <label>Confirmation</label>
        <stageOrder>16</stageOrder>
    </stages>
    <stages>
        <name>Demo_Type_Stage</name>
        <isActive>false</isActive>
        <label>Demo Type</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Review_Branding_Stage</name>
        <isActive>false</isActive>
        <label>Review Branding</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Set_Up_DemoTiger_Stage</name>
        <isActive>false</isActive>
        <label>Set Up DemoTiger</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>776</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Default_Demo_Configuration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>brandImageDisplay</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;img src=&quot;{!recDemoConfiguration.xDO_Brand_Image_URL__c}&quot; alt=&quot;Description&quot; style=&quot;max-height: 50px; height: auto; width: auto;&quot; /&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>groupImageDisplay</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;img src=&quot;{!recDemoConfiguration.xDO_Group_Image_URL__c}&quot; alt=&quot;Description&quot; style=&quot;max-height: 50px; height: auto; width: auto;&quot; /&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>logoDisplay</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;img src=&quot;{!recDemoConfiguration.xDO_Logo_URL__c}&quot; alt=&quot;Description&quot; style=&quot;max-height: 50px; height: auto; width: auto;&quot; /&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>userImageDisplay</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;img src=&quot;{!recDemoConfiguration.xDO_User_Image_URL__c}&quot; alt=&quot;Description&quot; style=&quot;max-height: 50px; height: auto; width: auto;&quot; /&gt;</text>
    </textTemplates>
    <variables>
        <name>colLogoContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>default</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recContentAsset1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentAsset</objectType>
    </variables>
    <variables>
        <name>recContentAsset2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentAsset</objectType>
    </variables>
    <variables>
        <name>recContentAsset3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentAsset</objectType>
    </variables>
    <variables>
        <name>recContentAsset4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentAsset</objectType>
    </variables>
    <variables>
        <name>recContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>recDemoConfiguration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>xDO_Demo_Configuration__c</objectType>
    </variables>
    <variables>
        <name>recDemoHelper</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>xDO_Demo_Helper__e</objectType>
    </variables>
    <variables>
        <name>varAccentColor1Hex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#e4a200</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccentColor2Hex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#224178</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccentColor3Hex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#FFF</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccentColor4Hex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#000</stringValue>
        </value>
    </variables>
    <variables>
        <name>varBrandImage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Connected University</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDemoUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupImage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLogo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPrimaryColorHEX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#013b5a</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSecondaryColorHEX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>#d4a54f</stringValue>
        </value>
    </variables>
    <variables>
        <name>varUserImage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
