force-app/main/default/flows/xDO_Demo_Helper_Assign_Demo_Access.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Existing_Permission_Set_Id</name>
        <label>Set Existing Permission Set Id</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>permissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Permission_Set_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Permission_Set</name>
        <label>Set Permission Set</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>recPermissionSet.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Get_Active_Demo_Configuration.Name} | Demo Access</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPermissionSet.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Demo_Configuration.xDO_Demo_Build_Permission_Set__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Permission_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Permission_Set_Assignment</name>
        <label>Set Permission Set Assignment</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>recPermissionSetAssignment.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Demo_Configuration.xDO_Demo_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPermissionSetAssignment.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>permissionSetId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Permission_Set_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Permission_Set_Id</name>
        <label>Set Permission Set Id</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>permissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recPermissionSet.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Permission_Set_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Old_Permission_Set_Assignment</name>
        <label>If Old Permission Set Assignment</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Demo_Configuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Old_Permission_Set_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Permission_Set_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Permission_Set_Assignment</targetReference>
            </connector>
            <label>Old Permission Set Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Permission_Set</name>
        <label>If Permission Set</label>
        <locationX>182</locationX>
        <locationY>1010</locationY>
        <defaultConnector>
            <targetReference>Set_Permission_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Existing_Permission_Set_Id</targetReference>
            </connector>
            <label>Permission Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Permission_Set_Assignment</name>
        <label>If Permission Set Assignment</label>
        <locationX>182</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Create_Permission_Set_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permission_Set_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Permission Set Assignment</label>
        </rules>
    </decisions>
    <description>Creates and assigns a new permissions set to access to that demo user.</description>
    <environments>Default</environments>
    <interviewLabel>xDO | Demo Helper | Assign Demo Access {!$Flow.CurrentDateTime}</interviewLabel>
    <label>xDO | Demo Helper | Assign Demo Access</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Permission_Set</name>
        <label>Create Permission Set</label>
        <locationX>314</locationX>
        <locationY>1226</locationY>
        <connector>
            <targetReference>Set_Permission_Set_Id</targetReference>
        </connector>
        <inputReference>recPermissionSet</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Permission_Set_Assignment</name>
        <label>Create Permission Set Assignment</label>
        <locationX>314</locationX>
        <locationY>1850</locationY>
        <inputReference>recPermissionSetAssignment</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Permission_Set_Assignment</name>
        <label>Delete Old Permission Set Assignment</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Get_Active_Demo_Configuration</targetReference>
        </connector>
        <inputReference>Get_Old_Permission_Set_Assignment</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Active_Demo_Configuration</name>
        <label>Get Active Demo Configuration</label>
        <locationX>182</locationX>
        <locationY>794</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.xDO_New_Demo_Config_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>xDO_Demo_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Demo_Configuration</name>
        <label>Get Old Demo Configuration</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Old_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Old_Demo_Config_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>xDO_Demo_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Permission_Set</name>
        <label>Get Old Permission Set</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Old_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Demo_Configuration.xDO_Demo_Build_Permission_Set__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Permission_Set_Assignment</name>
        <label>Get Old Permission Set Assignment</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Old_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Old_Demo_Configuration.xDO_Demo_User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set</name>
        <label>Get Permission Set</label>
        <locationX>182</locationX>
        <locationY>902</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Permission_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Demo_Configuration.xDO_Demo_Build_Permission_Set__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>182</locationX>
        <locationY>1634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recPermissionSetAssignment.AssigneeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recPermissionSetAssignment.PermissionSetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Old_Demo_Configuration</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>xDO_Demo_Helper__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>permissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recPermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>recPermissionSetAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
